


.page-header {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 8%;
    background-color: rgb(186, 186, 186);
    margin-bottom: 2rem;
}

.page-header a {
    text-decoration: none;
    color: rgb(43, 28, 28);
}

.page-header img {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 5px #815B40;
    border-style: double;
    margin: 0.5rem;
}

.header-center a {
    margin: 3rem;
    padding: 0.5rem;
    border-radius: 2rem;
    size: 1rem;
}

.header-center a:hover, a:focus, a:active {
    text-decoration: none;
    size: 2rem;
    color: inherit;
    background-color: #EFE5DE;
}

.header-left {
    display: flex;
    align-items: left;
    width: 5%;
    padding-left: 2rem;
}

.header-center {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-transform: uppercase;
    align-items: center;
    width: 60%;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}